.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background-color: #0D1117;
    border-bottom: 1px solid #1e2a3a;
    position: sticky;
    top: 0;
    z-index: 100;
}

.logo{
    display: flex;
    align-items: center;
    gap: 10px;
}

.logoNumero {
    font-size: 32px;
    font-weight: 900;
    background: linear-gradient(135deg, #2563EB, #7C3AED);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.logoTexto{
    font-size: 20px;
    color: #f1f5f9;
    letter-spacing: 1px;
}
.logoTexto strong{
    color: #22d3ee;
}

.nav{
    display: flex;
    gap: 32px;
    justify-content: center;
    flex: 1;
}

.nav a{
    color: #f1f5f9;
    font-size: 17px;
    font-weight: 500;
    transition: color 0.3s
}

.nav a:hover{
    color: #22d3ee;

}
.botao{
    background: linear-gradient(135deg, #2563eb, #7C3AED);
    color:#ffffff;
    padding: 10px 24px;
    border-radius: 25px;
    font-size: 16px;
    font-weight: 600;
    transition: opacity 0.3s;
}

.botao:hover{
    opacity: 0.85;
}
.acoes{
    display: flex;
    align-items: center;
    gap: 16px;
}
.redesSociais{
    font-size: 25px;
    transition: opacity 0.3s;
}
.redesSociais:hover{
    opacity: 0.7;
}
.menuToggle{
    display: none;
    background: none;
    border: none;
    color: #f1f5f9;
    cursor: pointer;
    padding: 4px 8px;
    line-height: 1;
    font-size: 26px;
}
.menuMobile{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1;
    margin: 0 40px;
}

@media (max-width: 900px) {
    .header{
        padding: 18px 32px;
    }
}

@media (max-width: 768px ) {
    .header{
        padding: 18px 32px;
    }
    .menuToggle{
        display: block;
    }
    .menuMobile{
        position: absolute;
        top: 100%;
        flex: 1;
        left: 0; 
        right: 0;
        flex-direction: column;
        align-items: flex-start;
        gap: 24px;
        background-color: #0D1117;
        border-bottom: 1px solid #1e2a3a;
        padding: 0 20px;
        max-height: 0;
        overflow: hidden;
        opacity: 0;
        transition:
        max-height 0.3s ease,
        opacity 0.3s ease,
        padding 0.3s ease;
    }
    .menuMobileAberto{
        max-height: 400px;
        opacity: 1;
        padding: 24px 20px;
    }
    .nav{
        flex-direction: column;
        justify-content: flex-start;
        gap: 20px;
        width: 100%;
    }
    .acoes{
        flex-direction: column;
        align-items: flex-start;
        gap: 16px;
        width: 100%;
    }
    .botao{
        width: 100%;
        text-align: center;
    }
}